<!doctype html>
<html>
<head>
    <base href="~/ClientApp/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Whiscode</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
    @RenderSection("Header", required: false)
</head>

<body>

    @RenderBody()

    <script src="@Url.Content("~/ClientApp/dist/ClientApp/runtime-es2015.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/runtime-es5.js")" nomodule defer></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/polyfills-es5.js")" nomodule defer></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/polyfills-es2015.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/styles-es2015.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/styles-es5.js")" nomodule defer></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/vendor-es2015.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/vendor-es5.js")" nomodule defer></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/main-es2015.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/main-es5.js")" nomodule defer></script>
</body>

</html>