<!doctype html>
<html>
<head>
    <base href="~/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Whiscode</title>
    <meta name="description" content="">
    <meta name="author" content="">

    @RenderSection("Header", required: false)
</head>

<body>

    @RenderBody()

    <script src="@Url.Content("~/ClientApp/dist/ClientApp/runtime.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/polyfills.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/styles.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/vendor.js")" type="module"></script>
    <script src="@Url.Content("~/ClientApp/dist/ClientApp/main.js")" type="module"></script>

</body>

</html>